$mainFontFamily: "Roboto",
sans-serif;
$headerFontFamily: 'Montserrat',
sans-seri;

$primaryColor: #1c1c1c;
$secondaryColor: #ffffff;
$thirdColor: #ff214f;
$primaryTectColor:#6f6f6f;
$secondaryTextColor: #232323;

$navBorderColor: #303030;
$navBackgroundColor: #232323;
$navColor: #a8a8a8;

$wowNumberColor: #ff214f;

$deliverBackgroundColor: #f7f7f7;

$counterBorderColor: #efefef;
$counterHoverBorderColor: #ff214f;

$testimonialBoxColor: #ffffff;
$testimonialBackgroudColor: #f7f7f7;

$projectBackgroundColor: #f7f7f7;
$projectPrimaryIconColor: #000000;
$projectSecondaryIconColor: #ffffff;
$projectPhotoOverlayColor: #ff214f;

$featuresBorderColor: #ededed;

$servicesBackgroundColor: #1C1C1C;
$servicesLargeTextColor: #a8a8a8;

$blogsBackgroundColor: #f7f7f7;
$blogsSeparatorColor: #dbdbdb;

$buttonsMainColor: #ffffff;
$buttonsNegativeColor: #1c1c1c;

$footerBlackBackgroundColor: #141414;
$footerBorderBoxColor: #333333;
$footerTitleBoxColor: #939393;
$footerOverlayColor: #232323;

$scrollUpBackgrondColor: #878787;