.scroll-up {
    color: $secondaryColor;
    background-color: $scrollUpBackgrondColor;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: fixed;
    right: 45px;
    top: 91%;
    z-index: 999;
    padding: 0;
    text-align: center;
    line-height: 30px;
}