.testimonials {
    padding: 100px 0;
    background-color: $testimonialBackgroudColor;

    .owl-dots {
        margin: 30px 0 0 0 !important;

        .owl-dot {
            outline: none;

            &.active {
                span {
                    background-color: $primaryColor;
                }
            }
        }
    }

    h5 {
        font-size: 12px;
        color: #939393;
        margin: 0 0 15px 0;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
    }

    h2 {
        @include fluid-type(20px, 32px);
        text-align: center;
        font-weight: 600;
        margin: 0 auto 50px auto;
        width: 50%;

        @media (max-width: 992px) {
            width: 100%;
        }
    }

    .testimonial {
        background-color: $testimonialBoxColor;
        padding: 50px;
        box-shadow: 0 0 3px rgba(0, 0, 0, .1);

        img {
            display: block;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 0 auto 50px;
        }

        .description {
            text-align: center;
            color: $primaryTectColor;
            font-size: 14px;
            line-height: 1.5;
            margin: 0 0 20px;
        }

        .name {
            text-align: center;
            font-size: 12px;
            text-transform: uppercase;
            font-family: $headerFontFamily;
            margin: 0 0 10px 0;
            font-weight: 600;
        }

        .title {
            text-align: center;
            font-size: 10px;
            text-transform: uppercase;
            margin: 0;
            color: $primaryTectColor;
        }
    }
}